<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="utf-8">
    <title>Rock, paper, scissors</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href = "/home"> Home </a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
